html,
h2,
font,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	font-weight: 100;
	text-align: center;
	font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.item1 {
	background-image: url('../images/fengmianbg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.item1bg {
	background-image: url('../images/yuanjingbg1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.item2 {
	background-color: #c8a062;
}

.item3 {
	background-color: #fff;
}

.item4 {
	background-color: #c8a062;
}

.item5 {
	background-color: #fff;
}

.item6 {
	background-image: url('../images/zhengcheng1.png');
	background-repeat: no-repeat;
	background-size: 83%;
	background-position: 26px 8px;
}

.item7 {
	background-image: url('../images/kaituo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: -60px;
	background-color: #fff9ef;
}

.item8 {
	background-image: url('../images/shehuizeren1.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: -40px;
}

.item11 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;
}

.item12 {
	background-color: #fff;
}

.item14 {
	/*background-color: #fff;*/
	background-image: url('../images/yuanjingbg1.png');
	
	background-repeat: no-repeat;
	background-position-y: -619px;
}

.item15 {
	background-color: #fff;
}

.item16 {
	background-image: url('../images/fengdi-a.png');
}

.item .fengmian {
	position: absolute;
	top: 21%;
	right: 20%;
	text-align: center;
	width: 55%;
	height: 34%;
	background-image: url('../images/fengmianbg1.png');
	background-repeat: no-repeat;
	background-size: 90% 85%;
}

.item .fengmian_1 {
	position: absolute;
	top: 33%;
	right: 36%;
	text-align: center;
	width: 29%;
	height: 6%;
	background-image: url('../images/fengmianbg2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.item .fengmian_2 {
	position: absolute;
	top: 61%;
	right: 6%;
	width: 80%;
	height: 7%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-family: "微软雅黑";
	color: #c39d62;
	font-size: 22px;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
}

a.fengmian_2base {
	position: relative;
	top: -3px;
	font-size: 19px;
	padding: 0px 5px;
}

.item1 .part1 {
	z-index: 2;
	position: absolute;
	top: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/gaikuangbg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.gaikuang h2 {
	margin-top: 10%;
	margin-left: -1px;
}

.gaikuang {
	color: #fff;
	font-family: "微软雅黑";
	font-size: 24px;
}

span.gaikuang-span {
	padding: 0px 22px;
}

a.gaikuang-span-a {
	font-size: 22px;
}

.gaikuangne>p {
	text-indent: 16px;
	font-size: 0.85rem;
	padding: 2% 5%;
	color: #fff;
	text-align: left;
}

.yuanjing {
	position: absolute;
	top: 16%;
	left: 12%;
	text-align: center;
	width: 76%;
	height: 58%;
	/* background-color: rgb(116, 178, 9); */
	background-image: url('../images/yuanjingbg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.yuanjing-na {
	padding: 5% 17%;
	width: 80%;
	text-align: left;
	color: #c8a063;
}

.yunjinga {
	color: #b1b1b1;
}

.yunjingb {
	margin: 5% 0;
	color: #b1b1b1;
	font-size: 30px;
}

.shouzimudaxie {
	font-size: 30px;
	color: #c8a063;
}

.yunjingd {
	font-size: 24px;
	margin: 3% 0;
}

.yunjingc {
	color: #b1b1b1;
}

.yunjingd span {
	font-size: 10%;
}

.yunjinge {
	color: #444444;
}

p.yunjinge span {
	font-size: 10%;
}


/*战略管控*/

.zhanluegaunkong1 {
	background-color: #FFFFFF;
}

.zhanluegaunkong {
	position: absolute;
	top: 15%;
	text-align: center;
	width: 100%;
	height: 50%;
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.zhanluegaunkongtop {
	display: inline-block;
	width: 38%;
	height: 4%;
	float: left;
	margin: 7% 2%;
	background-image: url('../images/start.png');
	background-repeat: no-repeat;
	background-position: -1% -1%;
	background-size: 18%;
	color: #c8a063;
	font-size: 1.2rem;
	font-weight: inherit;
}

.zlgk1 {
	position: relative;
	top: -20%;
	width: 39%;
	height: 40%;
	margin: 0 auto;
	border-radius: 49%;
	background-color: #fff;
	border: 1px solid #808080;
}

.zlgkaa {
	position: relative;
	top: -20%;
	width: 100%;
	height: 40%;
	margin: 0 auto;
}

.zhanluegaunkong-a {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position-y: 50px;
	background-size: 100% 85%;
}


}
.zlka {
	position: relative;
	top: 39.5%;
	left: 25px;
	font-size: 10px;
}
.zlkas {
	position: relative;
	top: 39.5%;
	left: 25px;
	font-size: 10px;
}
.zlkass {
	position: relative;
	top: 39.5%;
	left: 25px;
	font-size: 10px;
}
span.lingxiu-b {
	position: relative;
	top: -11%;
	font-size: 36px;
	display: inline-block;
	width: 70px 50px;
	color: #fff;
	/* font-size: 28px; */
	/* line-height: 80px; */
}
.lingxiu-a {
	width: 44px;
	font-size: 57px;
	display: inline-block;
	width: 70px 50px;
	color: #fff;
	border: 3px solid #fff;
	margin-right: 8px;
}

/*第二版ppt*/
.boss {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 17%;
	left: 5%;
	background: url('../images/liubodang1.png') no-repeat;
	background-size: 90%;
}
.item1 .part2 {
	position: absolute;
	bottom: -38px;
	right: -5%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 90% 85%;
}
.item3 .part1 {
	position: absolute;
	top: -37px;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/liubaodang.png');
	background-repeat: no-repeat;
	background-size: 97%;
	background-position: center;
}
.item3 .part2 {
	position: absolute;
	bottom: 22%;
	right: 10%;
	width: 78%;
	height: 27%;
	text-align: justify;
	text-indent: 30px;
	font-size: 0.9rem;
}
.part.part2.slideDown>p {
	padding-top: 3%;
}
.item2 .part1 {
	position: absolute;
	bottom: 36px;
	right: 15%;
	text-align: center;
	width: 157px;
	height: 36px;
}
.item2 .part3 {
	position: absolute;
	top: 0px;
	left: 0%;
	text-align: center;
	width: 100%;
	height: 36%;
	/* background-color: rgb(116, 178, 9);*/
}
.lingxiu-bstart {
	display: inline-block;
	width: 240px;
	height: 34px;
	line-height: 34px;
	text-indent: 0;
	background-image: url('../images/blacstart.png');
	background-repeat: no-repeat;
	/* background-position: -19px; */
	
	font-size: 16px;
	color: #fff;
}
span.lingxiu-bstart>span {
	padding: 05px;
}

/*第三板*/
.item4-left {
	float: left;
	margin-left: 45px;
}
.item-riht {
	position: absolute;
	bottom: 13%;
	right: -10%;
}
.item2 .part2 {
	position: absolute;
	bottom: 35%;
	left: 5%;
	text-align: center;
	width: 130px;
	height: 100px;
}
.item4 .part1 {
	position: absolute;
	top: 0px;
	text-align: center;
	width: 100%;
	height: 44%;
	background-image: url('../images/shiji.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.item4 .part2 {
	position: absolute;
	bottom: -4px;
	/* right: -1%; */
	
	text-align: center;
	width: 100%;
	height: 50%;
}
.item5 .part1 {
	position: absolute;
	top: 7%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/zhengcheng.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.item5 .part2 {
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: rgb(116, 178, 9);
}
.item5 .part3 {
	position: absolute;
	top: 40%;
	/* left: 19%; */
	
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: rgb(116, 178, 9);
}
.item5 .part4 {
	position: absolute;
	top: 60%;
	/* left: 19%; */
	
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: rgb(116, 178, 9);
}
.item5 .part5 {
	position: absolute;
	top: 80%;
	/* left: 19%; */
	
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: rgb(116, 178, 9);
}
.item5 .part6 {
	position: absolute;
	top: 100%;
	/* left: 19%; */
	
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: rgb(116, 178, 9);
}
p.kaituo-a {
	padding: 0 12%;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: 10%;
}
.kaituo-b {
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: -39px;
	background-image: url('../images/kaituo1.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.kaituo-c {
	width: 100%;
	height: 100%;
	z-index: 21;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: -39px;
	background-image: url('../images/kaituo2.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.kaituo-d {
	width: 100%;
	height: 100%;
	z-index: 22;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: -39px;
	background-image: url('../images/kaituo3.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.kaituo-e {
	width: 100%;
	height: 100%;
	z-index: 22;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: -39px;
	background-image: url('../images/kaituo4.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.kaituo-f {
	width: 100%;
	height: 100%;
	z-index: 23;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: -39px;
	background-image: url('../images/kaituo4.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.kaituo-g {
	width: 100%;
	height: 100%;
	z-index: 24;
	text-align: left;
	font-size: 13px;
	position: absolute;
	top: -39px;
	background-image: url('../images/kaituo6.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.item6 .part2 {
	position: absolute;
	top: 100px;
	left: 19%;
	text-align: center;
	width: 150px;
	height: 100px;
	background-color: rgb(116, 178, 9);
}
.item6 .part1 {
	position: absolute;
	bottom: 100px;
	left: 19%;
	text-align: center;
	width: 250px;
	height: 250px;
}
.item7 .part1 {
	position: absolute;
	bottom: 100px;
	left: 19%;
	text-align: center;
	width: 250px;
	height: 250px;
	background-image: url('../images/shehuizeren.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.item8 .part1 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}
.shehuizheren-a {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/shehuizheren2.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.shehuizheren-b {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/shehuizheren3.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.shehuizheren-c {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/shehuizheren4.png');
	background-repeat: no-repeat;
	background-size: 95%;
}
.hezouhuoban-a {
	position: absolute;
	top: -7%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url('../images/hezuohuoban.png');
	background-repeat: no-repeat;
	background-size: 97%;
}
.hezouhuoban-b {
	position: absolute;
	top: -7%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/hezuohuoban1.png');
	background-repeat: no-repeat;
	background-size: 95%;
}
.hezouhuoban-c {
	position: absolute;
	top: -7%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/hezouhuoban2.png');
	background-repeat: no-repeat;
	background-size: 95%;
}
.hezouhuoban-d {
	position: absolute;
	top: -7%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/hezuohuoban3.png');
	background-repeat: no-repeat;
	background-size: 95%;
}
.wenhua-a {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 50%;
	background-image: url('../images/lingxiu.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #c8a062;
}
.wenhua-b {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	height: 50%;
	background-color: #c8a062;
	background-repeat: no-repeat;
	background-size: 95%;
}
.wenhua {
	margin-top: 35px;
}
.wenhua-c {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/wehua-bg-a.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.wenhua-d {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/wehua-bg-b.png');
	background-repeat: no-repeat;
	background-size: 96%;
}
.wenhua-e {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/wehua-bg-c.png');
	background-repeat: no-repeat;
	background-size: 94%;
}
.wenhua-two-a {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhuamoxing-a.png');
}
.wenhua-two-b {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhuamoxing-b.png');
}
.wenhua-two-c {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhuamoxing-c.png');
}
.wenhua-two-d {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhuamoxing-d.png');
}
.wenhua-three-a {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhua-three-a.png');
}
.wenhua-three-b {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhua-three-b.png');
	background-position-y: -44px;
}
.wenhua-three-c {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhua-three-c.png');
	background-position-y: 30px;
}
.wenhua-three-d {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/wenhua-three-d.png');
	background-position-y: 30px;
}
.yuyi-two-a {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/yuyi-bg-a.png');
}
.yuyi-two-b {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/yuyi-bg-b.png');
}
.yuyi-two-c {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/yuyi-bg-c.png');
}
.yuyi-two-d {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/yuyi-bg-d.png');
}
.yuyi-two-e {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/yuyi-bg-e.png');
}
.yuyi-two-f {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/yuyi-bg-f.png');
}
.jinrong-a {
	z-index: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinrong-bg-a.png');
}
.jinrong-b {
	z-index: 1;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinronng-bg-b.png');
}
.jinrong-c {
	z-index: 2;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinrong-bg-c.png');
}
.jinrong-d {
	z-index: 3;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinrong-bg-d.png');
}
.jinrong-e {
	z-index: 4;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinrong-bg-e.png');
}
.jinrong-f {
	z-index: 5;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinrong-bg-f.png');
}
.jinrong-g {
	z-index: 6;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/jinrong-bg-g.png');
}
.fengdi-a {
	z-index: 1;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.fengdi-b {
	z-index: 2;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/fengdi-b.png');
}
.fengdi-c {
	z-index: 3;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('../images/fengdi-c.png');
}